/* index.css or App.css */
body {
  background-color: #f3f4f6; /* Light gray background for better contrast */
  font-family: Arial, sans-serif;
}

.sidebar {
  transition: transform 0.3s ease-in-out;
}

/* Optional: Adjustments for the input field */
input {
  border: none;
  outline: none;
}

input::placeholder {
  color: #aaa; /* Light gray placeholder */
}

.img-default {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(0deg) brightness(103%) contrast(104%);
}

.img-selected {
  filter: brightness(0) saturate(100%) invert(46%) sepia(81%) saturate(640%)
    hue-rotate(120deg) brightness(101%) contrast(98%);
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .sidebar {
    width: 56px; /* Reduced width for mobile */
  }

  .sidebar input {
    display: none; /* Hide search on mobile */
  }

  .sidebar button {
    justify-content: center; /* Center icons in mobile view */
  }

  .sidebar .flex {
    display: flex; /* Ensure icons and text align */
  }
}
